#buttons {
  margin-top: 10px;
  margin-right: 10px;
}

#back {
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #f0f8fe;
  padding: 25px;
}

#page {
  background-color: #005F6B;
}

body {
  font-family: 'Lato';
}
