#buttons {
  margin-top: 10px;
  margin-right: 10px;
}

#back {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #f0f8fe;
  padding: 15px;
}

#page {
  background-color: #005F6B;
}
